@model DateTime;
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
    <title>Results</title>
</head>
<body>
    <div>
        @{ 
            
        }
        <p>@Model</p>
    </div>

</body>

</html>
